<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Lesson</title>

        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        <!--                <script>
                            function showAnswer() {
                                var show = document.getElementById("Answer");
                                if (show.style.display === "none") {
                                    show.style.display = "block";
                                } else {
                                    show.style.display = "none";
                                }
                            }
                        </script>-->

        <!--jQuery-->
        <script src="../js/lesson.js" />

    </head>
    <body>

        <!--<h1>Question: <span th:text="${flash_card.question}" /></h1>-->
        <!--<h1>Answer: <span id="Answer" style="display: none" th:text="${flash_card.answer}"/></h1>-->
        <!--<button onclick="showAnswer()">Show Answer</button>-->

        <!--jQuery-->
        <h1>Question: <span th:text="${flash_card.question}" /></h1>
        <h1>Answer: <span id="Answer" th:text="${flash_card.answer}"/></h1>
        <button id="answerBtn">Show Answer</button>
        <br />
        <table id="thumbs" style="padding-top: 30px">
            <tr>
                <td style="padding-left: 30px; padding-right: 30px">

                    <a th:href="@{/logic/incorrect}">
                        <img th:src="@{/pictures/thumb-down.png}" style="width: auto" />
                    </a>
                </td>
                <td style="padding-left: 30px; padding-right: 30px">
                    <a th:href="@{/logic/correct}">
                        <img th:src="@{/pictures/thumb-up.png}" style="width: auto"/>
                    </a>
                </td>
            </tr>
        </table>
        <p></p>
        <form th:action="@{/logic/logout}" method='POST'>
            <input type="submit" value="Logout"/>
        </form>
    </body>
</html>
